<%- include('head') %>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h1>This is the dashboard page</h1>
    <ul class="collapsible popout">
      <% for (let i = 0; i < meals.length; i++) { %>
        <li>
          <div class="collapsible-header">
            <h5><%= meals[i].label %></h5>
          </div>
          <div class="collapsible-body">
            <ul class="collapsible popout">
              <% for (let j = 0; j < meals[i].foods.length; j++) { %>
                <li>
                  <div class="collapsible-header">
                    <h5><%= meals[i].foods[j].name %></h5>
                  </div>
                  <div class="collapsible-body">
                    Calories: <%= meals[i].foods[j].calories %>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
  <script src="/js/dashboard.js"></script>
</body>
</html>
