<%- include('head', {scripts: []}); %>
<body>
  <%-include('navbar'); %>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5>Name: <%= name; %></h5>
      </div>
      <div class="col s6">
        <h5>Email: <%= email; %></h5>
      </div>
    </div>
    <h5>Diet Profile</h5>
    <div class="row">
      <div class="col s6">
        Calories: <%= calories; %> (<%= caloriesGoal ? 'Goal' : 'Limit' %>)
      </div>
      <div class="col s6">
        Sugar: <%= sugar; %> (<%= sugarGoal ? 'Goal' : 'Limit' %>)
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        Protein: <%= protein; %> (<%= proteinGoal ? 'Goal' : 'Limit' %>)
      </div>
      <div class="col s6">
        Carbs: <%= carbohydrates; %> (<%= carbohydratesGoal ? 'Goal' : 'Limit' %>)
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        Fiber: <%= fiber; %> (<%= fiberGoal ? 'Goal' : 'Limit' %>)
      </div>
      <div class="col s6">
        Bad Fat: <%= bad_fat; %> (<%= bad_fatGoal ? 'Goal' : 'Limit' %>)
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        Fat: <%= fat; %> (<%= fatGoal ? 'Goal' : 'Limit' %>)
      </div>
      <div class="col s6">
        <a href="/users/profile/edit" class="btn waves">Edit</a>
      </div>
    </div>
  </div>
</body>
</html>
